@mixin font-face($style-name, $file, $category: "") {
	$filepath: "../static/fonts/" + $file;
	@font-face {
		font-family: "#{$style-name}";
		src: url($filepath + ".eot");
		src: url($filepath + ".eot?#iefix") format("embedded-opentype"),
			url($filepath + ".woff") format("woff"),
			url($filepath + ".ttf") format("truetype"),
			url($filepath + ".svg#" + $style-name + "") format("svg");
		font-display: swap;
	}
	%#{$style-name} {
		font: {
			@if $category != "" {
				family: "#{$style-name}", #{$category};
			} @else {
				family: "#{$style-name}";
				weight: normal;
			}
		}
	}
}

@include font-face("Cantarell-Regular", "Cantarell-Regular");
@include font-face("Cantarell-Bold", "Cantarell-Bold");
