@import "fonts";
html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Cantarell-Regular", sans-serif;
}
* {
	user-select: none;
	box-sizing: border-box;
	outline: none;
}

a {
	&,
	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		text-decoration: none;
		color: inherit;
		display: inline-block;
		line-height: 0;
	}
}
img {
	max-width: 100%;
	max-height: 100%;
	pointer-events: none;
}
ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}
.container {
	position: relative;
	width: 80%;
	margin: 0 auto;
}
.bold {
	font-family: "Cantarell-Bold", sans-serif;
}
